<li class="item flexrow" data-entry-uuid="{{entry}}" data-type="Item">
  <div class="image">
    <img src="{{entry.img}}" alt="{{entry.name}}" loading="lazy" />
  </div>
  <div class="name">
    <a class="item-link">{{entry.name}}</a>
  </div>
  <div class="price">{{entry.price}}</div>
</li>
