<div class="tab {{tab.cssClass}} cs-tab" id="{{tab.id}}" data-tab="{{tab.id}}" data-group="{{tab.group}}">
  <div class="compendium-search-app-content">
    <section class="compendium-search-filter">
      <button data-action="rebuildIndex">Rebuild Index</button>

      {{#each search.schema}}
        {{#if @first}}
          <h2>Text Search</h2>
        <div class="compendium-search-container">
        {{/if}}
        {{#if (eq kind "searchable") }}
          <label for="compendium-search-input-{{../tab.id}}-{{@key}}">{{title}}</label>
          <input type="search" id="compendium-search-input-{{tab.id}}-{{@key}}" data-cs-field="{{@key}}" placeholder="Search {{title}}"/>
        {{/if}}
        {{#if @last}}
        </div>
        {{/if}}
      {{/each}}

      {{#each search.schema}}
        {{#if (eq kind "selectable") }}
          {{#unless optionTitle }}
          <details class="compendium-search-selection" open>
            <summary>
              <h2>{{title}}</h2>
            </summary>
            <div class="compendium-search-selection-buttons">
              <button data-cs-select>{{localize "CS.selectAll"}}</button>
              <button data-cs-deselect>{{localize "CS.deselectAll"}}</button>
            </div>
          {{else}}
            <h2>{{title}}</h2>
          {{/unless}}
          {{#if optionTitle }}
            <input type="checkbox" id="compendium-search-input-{{../tab.id}}-{{@key}}" data-cs-field="{{@key}}" checked />
            <label for="compendium-search-input-{{../tab.id}}-{{@key}}">{{optionTitle}}</label>
          {{else}}
            <ul>
              {{#each options}}
                <li>
                  <input type="checkbox" id="compendium-search-input-{{../../tab.id}}-{{@key}}" data-cs-field="{{@../key}}" data-cs-select="{{@key}}" checked />
                  <label for="compendium-search-input-{{../../tab.id}}-{{@key}}">{{this}}</label>
                </li>
              {{/each}}
              {{#if (eq type "string") }}
                <li>
                  <input type="checkbox" id="compendium-search-input-{{../tab.id}}-custom" data-cs-field="{{@key}}" data-cs-select="custom" checked />
                  <label for="compendium-search-input-{{../tab.id}}-custom">{{localize "CS.generic.custom"}}</label>
                </li>
                <li>
                  <input type="checkbox" id="compendium-search-input-{{../tab.id}}-other" data-cs-field="{{@key}}" data-cs-select="other" checked />
                  <label for="compendium-search-input-{{../tab.id}}-other">{{localize "CS.generic.other"}}</label>
                </li>
              {{/if}}
            </ul>
          {{/if}}
          {{#unless optionTitle}}
            </details>
          {{/unless}}
        {{else if (eq kind "range")}}
          <div class="compendium-search-range">
            <h2>{{title}}</h2>
            <div class="cs-range-container" id="compendium-search-input-{{../tab.id}}-{{@key}}"
                 style="--step:{{step}}; --min:{{min}}; --max:{{max}}">
              <div class="cs-range-shadow"></div>
              <input type="range" value="{{min}}" min="{{min}}" max="{{max}}" step="{{step}}" data-cs-field="{{@key}}"
                     oninput="this.nextElementSibling.value = this.value"/>
              <output class="cs-range-bubble"></output>
              <input type="range" value="{{max}}" min="{{min}}" max="{{max}}" step="{{step}}" data-cs-field="{{@key}}"
                     oninput="this.nextElementSibling.value = this.value"/>
              <output class="cs-range-bubble"></output>
            </div>
          </div>
        {{/if}}
      {{/each}}
    </section>
    <section class="compendium-search-results">
      <div class="compendium-search-sort-container">
        <label for="compendium-search-sort-by-{{tab.id}}">{{localize "CS.sortBy"}}</label>
        <select class="compendium-search-sort-by" id="compendium-search-sort-by-{{tab.id}}">
          {{#each search.schema}}
            <option value="{{@key}}">{{title}}</option>
          {{/each}}
        </select>
        <label for="compendium-search-sort-dir-{{tab.id}}">{{localize "CS.sortDirection"}}</label>
        <select class="compendium-search-sort-dir" id="compendium-search-sort-dir-{{tab.id}}">
          <option value="asc" selected>Ascending</option>
          <option value="desc">Descending</option>
        </select>
      </div>
      <ul class="compendium-search-result-list">
      </ul>
    </section>
  </div>
</div>
